/*
 * CSS Sheet for cube summation UI
 */
body {
    margin: 8px;
    font-family: verdana;
    color: #962313;
}

textarea {
    width: 90%;
    height: 10em;
    margin: 2px 0px;
    font-size: 16px;
    text-transform: uppercase;
    border-color: #962313;
}

div#title {
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.error span {
    color: #962313;
}